/* Reset some default browser styles */
body,
h1,
form {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    padding: 20px;
    background-color: #4419f2;
    color: white;
}

form {
    width: 300px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #5e9ad5;
    outline: none;
}

button[type="submit"] {
    background-color: #4419f2;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #19085d;
}

#loginMessage {
    color: red;
    text-align: center;
    margin-top: 10px;
}



.container{
    width: 300px;
        margin: 0 auto;
        margin-top: 30px;
        padding: 20px;
        background-color: white;
        display:block;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.submitBtn{
    background-color: #4419f2;
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 3px;
        cursor: pointer;
        width: 100%;
        transition: background-color 0.3s;

}
.submitBtn:hover {
    background-color: #19085d;
}







table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}